@keyframes moveRight {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 25%;
    }
    100% {
        margin-left: 0;
    }
    
}

@keyframes moveLeft {
    0% {
        margin-left: 25%;
    }
    50% {
        margin-left: 0;
    }
    100% {
        margin-left: 25%;
    }
    
}

@keyframes lightShow {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    }
    to {
        opacity: 100%;
        transform: rotateX(0);
    }
}

@keyframes next {
    0% {
        left: 0;
    }

    50% {
        left: 80%;
       
    }
    100% {
        left: 0;
    }
}

@keyframes galeryMove {
    0% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(-80%);
    }
    100% {
        transform: translateY(10%);
    }
}


@keyframes liMove {
    from {
        margin-left: -200%;
        // opacity: 0;
        // font-size: 1rem;
        // color: green;
    }
    to {
        // color: red;
        margin-left: 0;
        // opacity: 1;
        // font-size: 3rem;
    }
}

@keyframes projectAppearing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}