.active {
  display: block;
}

.inactive-section-one {
  opacity: 0;
}

.inactive {
  display: none;
}

@-webkit-keyframes moveRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 25%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes moveRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 25%;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes moveLeft {
  0% {
    margin-left: 25%;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: 25%;
  }
}
@keyframes moveLeft {
  0% {
    margin-left: 25%;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: 25%;
  }
}
@-webkit-keyframes lightShow {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 100%;
    transform: rotateX(0);
  }
}
@keyframes lightShow {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 100%;
    transform: rotateX(0);
  }
}
@-webkit-keyframes next {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
@keyframes next {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes galeryMove {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes galeryMove {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(10%);
  }
}
@-webkit-keyframes liMove {
  from {
    margin-left: -200%;
    margin-right: 200%;
  }
  to {
    margin-left: 0;
    margin-right: 0;
  }
}
@keyframes liMove {
  from {
    margin-left: -200%;
    margin-right: 200%;
  }
  to {
    margin-left: 0;
    margin-right: 0;
  }
}
@-webkit-keyframes projectAppearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes projectAppearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Jura", sans-serif;
  height: 100vh;
}

.underline {
  position: relative;
  height: 1px;
  background-color: white;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
}
.underline__section-one-details--page-one-title, .underline__section-one-details--page-two-title, .underline__section-one-details--page-three-title, .underline__section-one-details--page-two-title {
  width: 300px;
}
.underline__section-two-details--page-one-title {
  width: 270px;
}
.underline__section-three-details--page-one-title {
  width: 120px;
}
.underline__section-four-details--page-one-title {
  width: 140px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  padding: 2rem 0 6rem;
  z-index: 5;
}
.header__title {
  text-align: center;
  color: rgb(251, 251, 251);
  font-size: 2.8rem;
  font-weight: 100;
  z-index: 11;
}

.main {
  position: relative;
  background: linear-gradient(45deg, #13046F, black);
}
.main__data {
  width: 100%;
  height: 100%;
  padding: 100px 10px 20px 10px;
}
.main__person-img {
  display: none;
  position: absolute;
  bottom: 100px;
  transform: translateX(-300px);
  width: 600px;
}

.sections {
  position: relative;
}
.sections__items {
  position: relative;
  width: 250px;
  height: 50px;
  margin-bottom: 4rem;
  text-align: center;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 16px;
  background-image: url("../img/klawiatura1.jpg");
  background-size: cover;
  transition: transform 0.8s, box-shadow 0.8s;
  font-size: 1.7rem;
  cursor: pointer;
}
.sections__items h2 {
  color: rgb(230, 230, 230);
}
.sections__items--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.sections__items:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px white;
}
.sections__programming {
  margin: 0 auto 4rem;
  z-index: 1;
  color: rgb(255, 249, 249);
  background-image: url("../img/klawiatura1.jpg");
  opacity: 1;
  -webkit-animation: lightShow 2s linear;
          animation: lightShow 2s linear;
}
.sections__programming--title-two {
  font-weight: 100;
  line-height: 45px;
}
.sections__photos {
  margin: 0 auto 4rem;
  background-image: url("../img/apps/Safe_Default.png");
  background-position: center;
  color: rgb(255, 249, 249);
  opacity: 1;
  -webkit-animation: lightShow 2s linear;
          animation: lightShow 2s linear;
  z-index: 1;
}
.sections__photos--title-two {
  font-weight: 100;
  line-height: 45px;
}
.sections__about {
  margin: 0 auto 4rem;
  background-image: url("../img/board.png");
  background-position: center;
  z-index: 1;
  color: rgb(255, 249, 249);
  opacity: 1;
  -webkit-animation: lightShow 2s linear;
          animation: lightShow 2s linear;
}
.sections__about--title-two {
  font-weight: 100;
  line-height: 45px;
}
.sections__contact {
  margin: 0 auto 4rem;
  background-image: url("../img/iphone.jpg");
  background-position: center;
  color: rgb(255, 249, 249);
  opacity: 1;
  -webkit-animation: lightShow 2s linear;
          animation: lightShow 2s linear;
  z-index: 1;
}
.sections__contact--title-two {
  font-weight: 100;
  line-height: 45px;
}

.github-address {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: font-weight 0.3s;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.github-address:hover {
  font-weight: bold;
}

.project-details {
  color: lightgray;
  font-size: 2rem;
}

.break-down {
  margin-bottom: 3rem;
}

.break-up {
  margin-top: 3rem;
}

.section-one-details, .section-two-details, .section-three-details, .section-four-details {
  width: 100%;
  height: 67vh;
  padding: 1rem 4rem 2rem 4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgb(14, 34, 164);
  overflow: auto;
  overflow-x: hidden;
}

.section-three-details {
  padding: 1rem 2rem 2rem 0;
}

.section-one-details-page-one,
.section-one-details-page-two,
.section-one-details-page-three,
.section-four-details-page-one {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-one-details-page-one__title,
.section-one-details-page-two__title,
.section-one-details-page-three__title,
.section-four-details-page-one__title {
  text-align: center;
  font-weight: 100;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section-one-details-page-one__list,
.section-one-details-page-two__list,
.section-one-details-page-three__list,
.section-four-details-page-one__list {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.section-one-details-page-one__item,
.section-one-details-page-two__item,
.section-one-details-page-three__item,
.section-four-details-page-one__item {
  margin-left: -200%;
  margin-right: 200%;
}
.section-one-details-page-one__item:nth-child(1),
.section-one-details-page-two__item:nth-child(1),
.section-one-details-page-three__item:nth-child(1),
.section-four-details-page-one__item:nth-child(1) {
  -webkit-animation: liMove 2s ease-out forwards;
          animation: liMove 2s ease-out forwards;
}
.section-one-details-page-one__item:nth-child(2),
.section-one-details-page-two__item:nth-child(2),
.section-one-details-page-three__item:nth-child(2),
.section-four-details-page-one__item:nth-child(2) {
  -webkit-animation: liMove 2s 0.5s ease-out forwards;
          animation: liMove 2s 0.5s ease-out forwards;
}
.section-one-details-page-one .project-details,
.section-one-details-page-two .project-details,
.section-one-details-page-three .project-details,
.section-four-details-page-one .project-details {
  opacity: 0;
}
.section-one-details-page-one .project-details,
.section-one-details-page-two .project-details,
.section-one-details-page-three .project-details,
.section-four-details-page-one .project-details {
  -webkit-animation: projectAppearing 2s linear 2s forwards;
          animation: projectAppearing 2s linear 2s forwards;
}

.section-one-details-page-one__list, .section-one-details-page-three__list {
  margin-top: 40px;
}

.section-one-details-page-two__list {
  margin-top: 40px;
}
.section-one-details-page-two p {
  font-size: 1.9rem;
}

.section-two-details {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgb(14, 34, 164);
  padding: 20px 40px 40px;
}
.section-two-details__title {
  text-align: center;
  font-weight: 100;
  font-size: 2.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-two-details__fence {
  position: relative;
  margin-top: 120px;
  height: 500px;
}
.section-two-details__grid {
  display: grid;
  position: relative;
  top: -100px;
  grid-template-columns: auto;
  margin-top: 3rem;
  gap: 3rem;
}
.section-two-details__pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(42, 28, 204, 0.1);
}
.section-two-details img {
  width: 100%;
  border-radius: 8px;
}
.section-two-details a.github-address {
  font-size: 1.8rem;
}

.page {
  position: relative;
  width: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.page__number {
  color: white;
  font-size: 2rem;
}

.move-btns {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.move-btns__btns {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  font-family: "Jura", sans-serif;
  cursor: pointer;
  z-index: 1;
}
.move-btns__back::before, .move-btns__next::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  bottom: -6px;
  left: 0px;
  background-color: rgb(237, 16, 16);
  -webkit-animation: next 5s infinite linear;
          animation: next 5s infinite linear;
}
.move-btns__btns:hover {
  color: yellow;
}
.move-btns .move-btns__back:hover:before,
.move-btns .move-btns__next:hover:before {
  background-color: yellow;
}

.section-three-details-page-one__title {
  text-align: center;
  font-weight: 100;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section-three-details-page-one__intro {
  margin: 2rem;
  font-size: 2.2rem;
}
.section-three-details-page-one__text {
  transition: scale 0.6s, color 0.6s;
  margin-bottom: 2rem;
  color: rgb(177, 176, 176);
  background: none;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2.6rem;
  text-align: justify;
}
.section-three-details-page-one a.github-address {
  margin-bottom: 2rem;
  color: rgb(177, 176, 176);
}
.section-three-details-page-one__text:nth-of-type(even) {
  margin-left: 6rem;
}
.section-three-details-page-one__text:nth-of-type(odd) {
  margin-left: 2rem;
  margin-right: 2rem;
}
.section-three-details-page-one__text-four {
  margin-left: 0;
  margin-top: 2rem;
}
.section-three-details-page-one__text-five {
  margin-left: 0;
  margin-top: 2rem;
}

.section-four-details-page-one__title {
  font-size: 2.3rem;
}
.section-four-details-page-one__box {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.section-four-details-page-one__email {
  text-align: center;
  padding: 1rem 2rem;
  margin: 10rem 0rem 10rem 0;
  background-color: rgba(42, 28, 204, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(42, 28, 204, 0);
  transition: 0.8s background-color, 0.8s border;
  font-size: 1.5rem;
}
.section-four-details-page-one__email:hover {
  background-color: rgba(42, 28, 204, 0);
  border: 1px solid rgb(15, 4, 133);
}
.section-four-details-page-one__text {
  color: white;
  text-decoration: none;
  font-weight: 100;
}
.section-four-details-page-one__github {
  text-align: center;
  padding: 1rem 2rem;
  background-color: rgba(42, 28, 204, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(42, 28, 204, 0);
  transition: 0.8s background-color, 0.8s border;
  font-size: 1.5rem;
}
.section-four-details-page-one__github:hover {
  background-color: rgba(42, 28, 204, 0);
  border: 1px solid rgb(15, 4, 133);
}

.footer {
  position: relative;
  width: 100%;
  bottom: -1px;
  margin-bottom: 20px;
  color: rgb(245, 245, 248);
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(45deg, #13046F, rgb(2, 4, 55));
}

@media (min-width: 450px) {
  .underline__section-one-details--page-one-title, .underline__section-one-details--page-two-title, .underline__section-one-details--page-three-title, .underline__section-one-details--page-two-title {
    width: 300px;
  }
  .header {
    padding: 4rem 0 6rem;
  }
  .main_data {
    position: relative;
    padding: 130px 10px 40px 10px;
  }
  .section-one-details-page-one__list, .section-one-details-page-three__list {
    margin-top: 120px;
  }
  .section-one-details-page-one__title,
.section-one-details-page-two__title,
.section-one-details-page-three__title,
.section-four-details-page-one__title {
    font-size: 3rem;
  }
  .section-one-details-page-two__list {
    margin-top: 50px;
  }
  .section-two-details__title {
    font-size: 3rem;
  }
  .section-three-details {
    padding: 1rem 4rem 2rem 4rem;
  }
  .section-three-details-page-one {
    padding-right: 2rem;
  }
  .section-three-details-page-one__title {
    font-size: 3rem;
  }
  .section-three-details-page-one__intro {
    margin: 2rem;
    font-size: 3rem;
  }
  .section-three-details-page-one__text:hover {
    scale: 1.1;
    color: white;
  }
  .section-four-details-page-one__title {
    font-size: 3rem;
  }
  .section-four-details-page-one__text {
    font-size: 2.3rem;
  }
}
@media (min-width: 492px) {
  .underline__section-one-details--page-one-title, .underline__section-one-details--page-two-title, .underline__section-one-details--page-three-title, .underline__section-one-details--page-two-title {
    width: 400px;
  }
}
@media (min-width: 576px) {
  .header__title {
    font-size: 5rem;
  }
  .main__data {
    padding: 180px 40px 40px 40px;
  }
  .main__person-img {
    display: none;
  }
  .sections__items {
    width: 50%;
    height: 50px;
    font-size: 1.7rem;
  }
  .sections__programming {
    margin: 0 auto 4rem 15%;
  }
  .sections__programming--title-two {
    font-weight: 100;
    line-height: 45px;
  }
  .sections__photos {
    margin: 0 auto 4rem 40%;
  }
  .sections__photos--title-two {
    font-weight: 100;
    line-height: 45px;
  }
  .sections__about {
    margin: 0 auto 4rem 15%;
  }
  .sections__about--title-two {
    font-weight: 100;
    line-height: 45px;
  }
  .sections__contact {
    margin: 0 auto 4rem 40%;
  }
  .sections__contact--title-two {
    font-weight: 100;
    line-height: 45px;
  }
  .section-two-details__grid {
    grid-template-columns: auto auto;
  }
  .section-four-details-page-one__email {
    align-self: flex-start;
  }
  .section-four-details-page-one__github {
    align-self: flex-end;
  }
}
@media (min-width: 768px) {
  .section-two-details__grid {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 850px) {
  .header__title {
    font-size: 6rem;
  }
  .main__data {
    padding: 180px 40px 40px 300px;
  }
  .main__person-img {
    display: block;
  }
  .sections__items {
    width: 75%;
    height: 140px;
    font-size: 3rem;
  }
  .sections__programming {
    margin: 0 auto 4rem 0;
  }
  .sections__programming--title-two {
    font-weight: 100;
    line-height: 140px;
  }
  .sections__photos {
    margin: 0 auto 4rem 20%;
  }
  .sections__photos--title-two {
    font-weight: 100;
    line-height: 140px;
  }
  .sections__about {
    margin: 0 auto 4rem 0;
  }
  .sections__about--title-two {
    font-weight: 100;
    line-height: 140px;
  }
  .sections__contact {
    margin: 0 auto 4rem 20%;
  }
  .sections__contact--title-two {
    font-weight: 100;
    line-height: 140px;
  }
  .section-two-details__grid {
    grid-template-columns: auto auto auto auto;
  }
}/*# sourceMappingURL=main.css.map */