@-webkit-keyframes moveRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 25%;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes moveRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 25%;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes moveLeft {
  0% {
    margin-left: 25%;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: 25%;
  }
}
@keyframes moveLeft {
  0% {
    margin-left: 25%;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: 25%;
  }
}
@-webkit-keyframes lightShow {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 100%;
    transform: rotateX(0);
  }
}
@keyframes lightShow {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 100%;
    transform: rotateX(0);
  }
}
@-webkit-keyframes next {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
@keyframes next {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Jura", sans-serif;
}

.underline {
  width: 120px;
  position: relative;
  height: 1px;
  background-color: white;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  padding: 4rem 0 5rem;
  z-index: 5;
}
.header__title {
  text-align: center;
  color: rgb(251, 251, 251);
  font-size: 6rem;
  font-weight: 100;
  z-index: 11;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.background__fill {
  position: absolute;
  width: 2000px;
  height: 2000px;
  background-image: linear-gradient(#13046F, black);
  transform-origin: center;
  transform: rotateZ(-45deg) translateX(0%) translateY(-30%);
}

.main {
  position: relative;
}
.main__person-img {
  position: absolute;
  bottom: 100px;
  transform: translateX(-300px);
  width: 600px;
}

.section-one {
  opacity: 0;
  position: relative;
  margin: 20px 40px 10px 300px;
  padding: 10px;
}
.section-one__items {
  position: relative;
  width: 75%;
  margin-bottom: 4rem;
  height: 140px;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  background-image: url("../img/temp_img.jpg");
  transition: transform 0.8s, box-shadow 0.8s;
  font-size: 3rem;
  cursor: pointer;
}
.section-one__items--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.section-one__items:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px white;
}
.section-one__programming {
  z-index: 1;
  color: rgb(255, 249, 249);
  opacity: 1;
  -webkit-animation: lightShow 3s linear;
          animation: lightShow 3s linear;
}
.section-one__programming--title-two {
  font-weight: 100;
  line-height: 140px;
}
.section-one__photos {
  margin-left: 25%;
  color: rgb(255, 249, 249);
  z-index: 1;
  opacity: 1;
  -webkit-animation: lightShow 3s linear 0.5s;
          animation: lightShow 3s linear 0.5s;
}
.section-one__photos--title-two {
  font-weight: 100;
  line-height: 140px;
}
.section-one__hobby {
  color: rgb(255, 249, 249);
  z-index: 1;
  opacity: 1;
  -webkit-animation: lightShow 3s linear 1s;
          animation: lightShow 3s linear 1s;
}
.section-one__hobby--title-two {
  font-weight: 100;
  line-height: 140px;
}
.section-one__about {
  margin-left: 25%;
  color: rgb(255, 249, 249);
  z-index: 1;
  opacity: 1;
  -webkit-animation: lightShow 3s linear 1.5s;
          animation: lightShow 3s linear 1.5s;
}
.section-one__about--title-two {
  font-weight: 100;
  line-height: 140px;
}

.github-address {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: font-weight 0.3s;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.github-address:hover {
  font-weight: bold;
}

.project-details {
  color: lightgray;
  font-size: 2rem;
}

.break-down {
  margin-bottom: 3rem;
}

.break-up {
  margin-top: 3rem;
}

.move-btns {
  position: absolute;
  top: calc(100% - 40px);
  color: white;
  font-size: 1.8rem;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 1px;
}
.move-btns__next {
  right: 10px;
}
.move-btns__back {
  left: 10px;
}

.move-btns:hover {
  color: yellow;
}

.move-btns:hover:before {
  background-color: yellow;
}

.move-btns::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  bottom: -6px;
  left: 0px;
  background-color: rgb(237, 16, 16);
  -webkit-animation: next 5s infinite linear;
          animation: next 5s infinite linear;
}

.page-number {
  position: absolute;
  right: 50%;
  top: calc(100% - 30px);
  color: white;
  font-size: 2rem;
}

.section-two {
  display: none;
  position: absolute;
  height: 740px;
  top: 20px;
  right: 40px;
  bottom: 40px;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgb(14, 34, 164);
}
.section-two__data {
  color: white;
  padding: 40px;
}
.section-two__title {
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2px;
}
.section-two__list {
  margin-top: 120px;
  font-size: 2.5rem;
}
.section-two__item {
  margin-bottom: 60px;
}

.section-three {
  display: none;
  position: absolute;
  height: 740px;
  top: 20px;
  right: 40px;
  bottom: 40px;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgb(14, 34, 164);
}
.section-three__data {
  color: white;
  padding: 40px;
}
.section-three__title {
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2px;
}
.section-three__list {
  margin-top: 40px;
  font-size: 2.5rem;
  counter-reset: step-counter 3;
}
.section-three__item {
  margin-bottom: 20px;
}

.section-four {
  display: none;
  height: 740px;
  top: 20px;
  right: 40px;
  bottom: 40px;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgb(14, 34, 164);
}
.section-four__data {
  color: white;
  padding: 40px;
}
.section-four__title {
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2px;
}
.section-four__list {
  margin-top: 40px;
  font-size: 2.5rem;
}
.section-four__item {
  position: relative;
  list-style-type: none;
  margin-bottom: 20px;
}
.section-four__item::before {
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  left: -25px;
  margin-right: 12px;
  content: "4.";
  counter-increment: li;
}

.section-gallery {
  position: absolute;
  height: 740px;
  top: 20px;
  right: 40px;
  bottom: 40px;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgb(14, 34, 164);
}
.section-gallery__data {
  color: white;
  padding: 40px;
}
.section-gallery__title {
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2px;
}
.section-gallery__list {
  margin-top: 40px;
  font-size: 2.5rem;
}
.section-gallery__item {
  position: relative;
  list-style-type: none;
  margin-bottom: 20px;
}
.section-gallery__item::before {
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  left: -25px;
  margin-right: 12px;
  content: "4.";
  counter-increment: li;
}

.footer {
  position: relative;
  margin-top: 30px;
  color: white;
  font-size: 2rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */