@use './animations' as *;

@mixin dataContent {
        // top: 0;
            // right: 10px;
            // bottom: 40px;
            // left: 300px;
            margin: 20px 40px 10px 300px;
        padding: 10px;
}

// @mixin titleTwo {
//     width: 100%;
//     text-align: center;
//     color: white;
//     margin-bottom: 2rem;
//     font-size: 4rem;
//     font-weight: 100;
// }

$animationTime: 0s;

*, 
*::after, 
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: 'Jura', sans-serif;
}

.underline {
    position: relative;
    // display: inline-block;
    width: 350px;
    height: 1px;
    background-color: white;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    
    margin-top: 4px;
    
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    
}

.header {
    position: relative;
    width: 100%;
    padding: 4rem 0 5rem;
    z-index: 5;
    &__title {
        text-align: center;
        color: rgb(251, 251, 251);
        // color: rebeccapurple;
        font-size: 6rem;
        font-weight: 100;
        z-index: 11;
    }
}


.background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    &__fill {
        position: absolute;
        width: 2000px;
        height: 2000px;
        background-image: linear-gradient(#13046F,black);
        transform-origin: center;
        transform: rotateZ(-45deg) translateX(0%) translateY(-30%);
    }
}

.main {
    position: relative;

    &__person-img {
        position: absolute;
        bottom: 100px;
        transform: translateX(-300px);
        width: 600px;
    }
}



.section-one {
    opacity: 0;
    position: relative;
    
    // left: 0;
        // top: 0;
        // width: 100%;
        // height: 800px;
    
        // &__data {
        margin: 20px 40px 10px 300px;
        padding: 10px;
        // }
    
    // &__title-two {
    //     @include titleTwo();
    // }


    &__items {
        position: relative;
        // display: block;
        width: 75%;
        margin-bottom: 4rem;
        height: 140px;
        // padding: 3rem;
        text-align: center;
        color: white;
        // background-color: rgba(0, 128, 0, .5);
        border: 1px solid white;
        border-radius: 16px;
        background-image: url('../img/temp_img.jpg');
        transition: transform .8s, box-shadow .8s;
        // transform-origin: 0 0;
        font-size: 3rem;
        cursor: pointer;

        &--bg {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-color: rgba(0, 0, 0, 0.7);
            // background-color: #13046f;
            z-index: -1;
        }

    }

    &__items:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 20px white;
        
        // transform: rotateY(30deg) rotateZ(-2deg) ;
       
    }

    &__programming {
        z-index: 1;
        color: rgb(255, 249, 249);
        // animation: moveRight $animationTime infinite;
        opacity: 1;
        animation: lightShow 3s linear;
        
        &--title-two {
         
         font-weight: 100;
        line-height: 140px;
        }
    }

    &__photos {
        margin-left: 25%;
        color: rgb(255, 249, 249);
        // animation: moveLeft $animationTime infinite;
        z-index: 1;
        opacity: 1;
        animation: lightShow 3s linear .5s;
        &--title-two {
         font-weight: 100;
         line-height: 140px;
        }
    }
    &__hobby {
        color: rgb(255, 249, 249);
        z-index: 1;
        // animation: moveRight $animationTime 5s infinite;
        opacity: 1;
        animation: lightShow 3s linear 1s;
        &--title-two {
         font-weight: 100;
         line-height: 140px;
        }
        

    }
    &__about {

        margin-left: 25%;
        color: rgb(255, 249, 249);
        // animation: moveLeft $animationTime 5s infinite;
        z-index: 1;
        opacity: 1;
        animation: lightShow 3s linear 1.5s;
        &--title-two {
         font-weight: 100;
         line-height: 140px;
        }
    }
}

.github-address {
    display: inline-block;
margin-top: 1rem;
margin-left: 50%;
transform: translateX(-50%);
    // width: 100%;
    // align-items: center;
    text-align: center;
    // margin-top: 1rem;
    transition: font-weight .3s;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

.github-address:hover {
    font-weight: bold;
}

.project-details {
    color: lightgray;
    font-size: 2rem;
}

.break-down {
    margin-bottom: 3rem;
}
.break-up {
    margin-top: 3rem;
}
.next-btn {
    // display: inline-block;
    position: absolute;
    right: 10px;
    top: calc(100% - 100px);
    color: white;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.next-btn:hover {
    color: yellow;
}

.next-btn:hover:before {
    background-color: yellow;
}
.next-btn::before {
    position: absolute;
    // display: block;
    content: '';
    width: 10px;
    height: 1px;
    bottom: -6px;
    left: 0px;
    background-color: rgb(237, 16, 16);
    animation: next 5s infinite linear;
   
}


.page-number {
    position: absolute;
    right: calc(50%);
    top: calc(100% - 80px);
    color: white;
    font-size: 2rem;
}


.section-two {
    display: none;
    position: absolute;
    height: 800px;
    top: 20px;
        right: 40px;
        bottom: 40px;
        left: 300px;
        background-color: rgba(0, 0, 0, 0.2);

    &__data {
        color: white;
        padding: 40px;
    }
    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 2px ;
    }
    &__list {
        margin-top: 120px;
        font-size: 2.5rem;
    }
    &__item {
        margin-bottom: 60px;
    }
}



.section-three {
    // display: none;
    position: absolute;
    height: 800px;
    top: 20px;
        right: 40px;
        bottom: 40px;
        left: 300px;
        background-color: rgba(0, 0, 0, 0.2);

    &__data {
        color: white;
        padding: 40px;
    }
    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 2px ;
    }
    &__list {
        margin-top: 40px;
        font-size: 2.5rem;
    }
    &__item {
        margin-bottom: 20px;
    }
}




.footer {
    position: relative;
    margin-top: 30px;
    color: white;
    font-size: 2rem;
    text-align: center;
}