@use './pageTransitions' as *;
@use './animations' as *;

@mixin sectionHeight($individualHeight) {
    height: $individualHeight;
}

// @mixin forUnderline($individualWidth) {
//     width: $individualWidth;
//     position: relative;
//     height: 1px;
//     background-color: white;
//     align-items: center;
//     left: 50%;
//     transform: translateX(-50%);
//     margin-top: 4px;
// }
*, 
*::after, 
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    
}

body {
    position: relative;
    font-family: 'Jura', sans-serif;
    // height: 100vh;
    
}

.underline {
    position: relative;
    height: 1px;
    background-color: white;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;

    &__section-one-details {
        &--page-one-title, &--page-two-title,&--page-three-title {
            width: 400px;
        }
    }

    &__section-two-details--page-one-title {
        width: 300px;
    }
    
    &__section-three-details--page-one-title {
        width: 120px;
    }
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    
}

.header {
    position: fixed;
    width: 100%;
    padding: 4rem 0 5rem;
    z-index: 5;
    &__title {
        text-align: center;
        color: rgb(251, 251, 251);
        // color: rebeccapurple;
        font-size: 6rem;
        font-weight: 100;
        z-index: 11;
    }
}


.inactive {
    display: none;
}

.main {
    position: relative;
    background: linear-gradient(45deg, #13046F,black);
    // height: 200vh;
    &__data {
        // position: relative;
        // position: relative;
        // display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 180px 40px 40px 300px;
    }

    &__person-img {
        position: absolute;
        bottom: 100px;
        transform: translateX(-300px);
        width: 600px;
    }
}

// sekcje guzików: programowanie, obrazy, hobby, o mnie
.sections {
    position: relative;
    
    // width: 100%;
        // height: 100%;
    //     position: relative;
    //     padding: 180px 40px 40px 300px;
    // flex-direction: row;
    // padding-left: 300px;

    &__items {
        position: relative;
        // display: block;
        width: 75%;
        // margin-bottom: 4rem;
        height: 140px;
        margin-bottom: 4rem;
        text-align: center;
        color: white;
        border: 1px solid white;
        border-radius: 16px;
        background-image: url('../img/temp_img.jpg');
        transition: transform .8s, box-shadow .8s;
        font-size: 3rem;
        cursor: pointer;

        &--bg {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1;
        }

    }

    &__items:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 20px white;
        
        // transform: rotateY(30deg) rotateZ(-2deg) ;
       
    }

    &__programming {
        
        z-index: 1;
        color: rgb(255, 249, 249);
        
        opacity: 1;
        animation: lightShow 2s linear;
        
        &--title-two {
         
         font-weight: 100;
        line-height: 140px;
        }
    }

    &__photos {
        // right: 5px;
        // top: 180px;
        left: 20%;
        color: rgb(255, 249, 249);
        
        opacity: 1;
        animation: lightShow 2s linear;
        z-index: 1;
        
        &--title-two {
         
         font-weight: 100;
        line-height: 140px;
        }
    }

    &__hobby {
        
        // top: 360px;
        z-index: 1;
        color: rgb(255, 249, 249);
        
        opacity: 1;
        animation: lightShow 2s linear;
        
        &--title-two {
         
         font-weight: 100;
        line-height: 140px;
        }
    }

    &__about {
        // right: 5px;
        // top: 540px;
        left: 20%;
        color: rgb(255, 249, 249);
        
        opacity: 1;
        animation: lightShow 2s linear;
        
        z-index: 1;
        &--title-two {
         
         font-weight: 100;
        line-height: 140px;
        }
    }

}

.github-address {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: font-weight .3s;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

.github-address:hover {
    font-weight: bold;
}

.project-details {
    color: lightgray;
    font-size: 2rem;
}

.break-down {
    margin-bottom: 3rem;
}

.break-up {
    margin-top: 3rem;
}



.page-number {
    position: absolute;
    right: calc(50%);
    top: calc(100% - 30px);
    color: white;
    font-size: 2rem;
}
.section-one-details, .section-two-details, .section-three-details {
width: 100%;
    height: 70vh;
    padding: 2rem 3rem 0 4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgb(14, 34, 164);
    overflow: auto;
}

.section-one-details-page-one,
.section-one-details-page-two,
.section-one-details-page-three  {
    position: relative;
    width: 100%;
    height: 100%;

    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__list {
        font-size: 2.5rem;
    }
}

.section-one-details-page-one, .section-one-details-page-three {
    &__list {
        margin-top: 120px;
    }
}
.section-one-details-page-two {
    &__list {
        margin-top: 100px;
    }
    p {
        font-size: 1.9rem;
    }

    
}



.section-two-details  {
    // display: none;
    position: relative;
    @include sectionHeight(740px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgb(14, 34, 164);
    padding: 20px 40px 40px;
 
    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 2px ;
        text-transform: uppercase;;
    }

    &__fence {
        position: relative;
        overflow: hidden;
        margin-top: 30px;
        height: 540px;
    }
    &__grid {
        display: grid;
        position: relative;
        top: -100px;
        grid-template-columns: auto auto auto auto;
        margin-top: 3rem;
        gap: 3rem;
        animation: galeryMove 30s infinite linear;
    }

    &__pics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(42, 28, 204, 0.1);
        
        overflow: hidden;
        
    }
    img {
        width: 100%;
        border-radius: 8px;
    }
}

.section-three-details  {
    // display: none;
    position: relative;
    @include sectionHeight(740px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgb(14, 34, 164);
    padding: 20px 40px 40px;
 
    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 2px ;
        text-transform: capitalize;
    }

    &__fence {
        position: relative;
        overflow: hidden;
        margin-top: 30px;
        height: 560px;
    }
    &__grid {
        display: grid;
        position: relative;
        top: -100px;
        grid-template-columns: auto auto auto auto;
        margin-top: 3rem;
        gap: 3rem;
        animation: galeryMove 30s infinite linear;
    }

    &__pics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(42, 28, 204, 0.1);
        
        overflow: hidden;
        
    }
    img {
        width: 100%;
        border-radius: 8px;
    }
}

.section-three-details-page-one  {
    position: relative;
    width: 100%;
    height: 100%;

    &__title {
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.move-btns {
    position: relative;
    // text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    // display: none;
    // justify-content: space-between;
//    bottom: 2rem;

    &__btns {
        position: relative;
        // display: flex;
        // margin-left: 40px;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        font-family: 'Jura', sans-serif;
        cursor: pointer;
        z-index: 1;
    }

    &__back::before,
    &__next::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 1px;
        bottom: -6px;
        left: 0px;
        background-color: rgb(237, 16, 16);
        animation: next 5s infinite linear;

    }

    &__btns:hover {
        color: yellow;
    }

    .move-btns__back:hover:before,
    .move-btns__next:hover:before {
        background-color: yellow;
    }
}

.section-three-details-page-one {
    padding-right: 2rem;
    padding-bottom: 2rem;

    


    &__intro {
        margin: 2rem;
        font-size: 3rem;
    }



    &__text {
        transition: scale .6s, color .6s;
        margin-bottom: 3rem;
        color: rgb(177, 176, 176);
        background: none;
        font-size: 2rem;
        font-weight: 100;
        line-height: 2.6rem;
        text-align: justify;


    }

    &__text:hover {
        scale: (1.1);
        color: white;
        
    }

    p.github-address {
        margin-bottom: 2rem;
    }

    &__text:nth-of-type(even) {
        margin-left: 6rem;
    }

    &__text:nth-of-type(odd) {
        margin-right: 4rem;
    }
    &__text-four {
        margin-right: 4rem;
        margin-left: 0;
        margin-top: 2rem;
    }
    &__text-five {
        margin-right: 4rem;
        margin-left: 0;
        margin-top: 2rem;
    }

}




.footer {
    position: relative;
    width: 100%;
    // text-align: center;
    // bottom: 10px;
    // left: 50%;
    // transform: translateX(-50%);
    bottom: -1px;
    margin-bottom: 20px;
    color: rgb(245, 245, 248);
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(45deg, #13046F,rgb(2, 4, 55));

}