@use './animations' as *;

$animationTime: 0s;

*, 
*::after, 
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: 'Jura', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    
}

.header {
    position: relative;
    width: 100%;
    padding: 4rem 0 5rem;
    z-index: 5;
    &__title {
        text-align: center;
        color: rgb(251, 251, 251);
        // color: rebeccapurple;
        font-size: 6rem;
        font-weight: 100;
        z-index: 11;
    }
}


.background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 95vh;
    
    // margin: 0 auto;
    overflow: hidden;
    z-index: -1;

    &__fill {
        position: absolute;
        width: 2000px;
        height: 2000px;
        background-image: linear-gradient(#13046F,black);
        transform-origin: center;
        transform: rotateZ(-45deg) translateX(0%) translateY(-30%);
    }

}



.section-one {
    position: relative;
    height: 800px;
    margin-bottom: 40px;
    
    
    &__person-img {
        position: absolute;
        bottom: 5%;
        transform: translateX(-300px);
        width: 600px;
        
    }
    // &__person-img-two {
    //     position: absolute;
    //     top: 30%;
    //     transform: translateX(100px);
    //     width: 300px;
    // }

    &__data {
        position: relative;
        margin: 20px 40px 40px 300px;
        padding: 10px;
        // border-left: 1px solid white;
        // transform:perspective(300px) rotateX(5deg);
        // background-color: rgba(255, 255, 255, .5);
    }
    
    &__title-two {
        
        width: 100%;
        text-align: center;
        color: white;
        // background-color: rgba(0, 128, 0, .5);
        margin-bottom: 2rem;
        font-size: 4rem;
        font-weight: 100;
    }


    &__items {
        position: relative;
        // display: block;
        width: 75%;
        margin-bottom: 4rem;
        height: 140px;
        // padding: 3rem;
        text-align: center;
        color: white;
        // background-color: rgba(0, 128, 0, .5);
        border: 1px solid white;
        border-radius: 16px;
        background-image: url('../img/temp_img.jpg');
        transition: transform .8s;
        font-size: 3rem;

        &--bg {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-color: rgba(0, 0, 0, 0.7);
            // background-color: #13046f;
            z-index: -1;
        }

    }

    &__items:hover {
        transform: scale(1.1);
    }

    &__programming {
        z-index: 1;
        color: rgb(255, 249, 249);
        animation: moveRight $animationTime infinite;
        &--title-three {
         
         font-weight: 100;
         line-height: 150px;
        }
    }

    &__photos {
        margin-left: 25%;
        color: rgb(255, 249, 249);
        animation: moveLeft $animationTime infinite;
        z-index: 1;
        &--title-three {
         font-weight: 100;
         font-weight: 100;
         line-height: 140px;
        }
    }
    &__hobby {
        color: rgb(255, 249, 249);
        z-index: 1;
        animation: moveRight $animationTime 5s infinite;
        &--title-three {
         font-weight: 100;
         font-weight: 100;
         line-height: 140px;
        }
        

    }
    &__about {

        margin-left: 25%;
        color: rgb(255, 249, 249);
        animation: moveLeft $animationTime 5s infinite;
        z-index: 1;
        &--title-three {
         font-weight: 100;
         font-weight: 100;
         line-height: 140px;
        }
    }



    
}

.footer {
    // position: relative;
    color: white;
    font-size: 2rem;
    text-align: center;
    bottom: 0;
}